.task {
  padding: 20px;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.taskText {
  padding: 12px 0;
}

.editTextBlock {
  display: flex;
  justify-content: space-between;
}