.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 50px;
  border-bottom: 1px solid #f0f0f0;
}

.addTaskBtn {
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}